{% extends "base.html" %}
{% block main %}
    
    <img alt="faxthemachine logo" class="px-3 mt-10 mb-2 mx-auto max-h-40 object-contain" src="{{ url_for('static', filename='faxthesystem.png') }}">
  
    <div class="flex flex-row justify-between px-12">
        <div class="text-center w-full ps-5">
            <h2 class="text-2xl">Envoyer un message</h2>
            <h3 class="text-md pb-4 ">sur l'imprimante de la HackStub</h3>
            <form class="pb-5" hx-post="{{ url_for('post') }}" hx-target="#result" hx-swap="innerHTML" hx-encoding="multipart/form-data" >
                <div class="pb-1">
                    <label for="from">De la part de :</label>
                    <input class="mx-auto w-1/4 border border-dashed border-gray-400 rounded-md" type="text" id="from" name="from" placeholder="Pseudo" maxlength="30" required>
                </div>
                <textarea id="label-generator-text" class="rounded-md mb-5 block mx-auto w-1/2 border border-dashed border-gray-400" name="text" rows="2" style="box-shadow: none !important;" maxlength="500" required></textarea>
                <div id="file-input" class="mb-5">
                    <label for="file" class="border border-gray-400 border-dashed rounded-md px-5 py-2 bg-white hover:bg-gray-100 transition"><i class="fa fa-paperclip"></i> Ajouter une image (optionnel)</label>
                  <input type="file" name="file" style="display: none;"  accept="image/png,image/jpeg,image/webp,image/gif">
                </div>
                <button class="mx-auto btn block !font-bold -rotate-3 !text-lg" style="background-image: url({{ url_for('static', filename='button.svg')}}); background-position: center; background-repeat: no-repeat; background-size: cover; width: 11.5rem; height: 4.5rem; color: #00426a;" type="submit">
                    Envoyer
                </button>
            </form>
            <div id="result">
            </div>
            <div id="facts" class="pb-10">
                Dernier check de l'imprimante : {{ last_pop }}<br/>
                Il y a actuellement {{ items_in_queue }} messages en attente.
            </div>
       </div>
    </div>

<script>
document.querySelector("#file-input label").addEventListener("click", function (event) {
    document.querySelector("#file-input input").click();
});
document.querySelector("#file-input input").onchange = function() {
  const fileName = this.files[0]?.name;
  const label = document.querySelector("#file-input label");
  label.innerText = fileName ?? "Ajouter une image (optionnel)";
};
</script>

{% endblock %}
